{% extends 'base.html' %}
{% block bodycontent %}


<div
    class="flex flex-row flex-wrap shadow-2xl mx-auto max-w-7xl px-10 py-10 sm:px-6 lg:px-8 grid grid-cols-2 divide-x text-zinc-600 text-center bg-gradient-to-r from-gray-800">
    <img
        src="https://st2.depositphotos.com/1032577/6582/i/950/depositphotos_65828845-stock-photo-portfolio-written-on-notebook.jpg">
    <div>
        <div class="shadow-4xl px-10 py-10 sm:px-6 lg:px-8 text-zinc-800 text-center italic text-3xl">
            My name is Naira.<br><br>Welcom to my portfolio!!!
        </div>
        <div class="ml-10 flex items-baseline space-x-4 grid grid-cols-2">
            <a href="http://127.0.0.1:8000/about/" target="blank"
                class="text-gray-900 hover:bg-gray-500 hover:text-white rounded-md px-3 py-2 text-sm font-bold underline text-xl">About
                Me</a>
            <a href="http://127.0.0.1:8000/portfolio/" target="_blank"
                class="text-gray-900 hover:bg-gray-500 hover:text-white rounded-md px-3 py-2 text-sm font-bold underline text-xl">
                My Portfolio </a>
        </div>
    </div>
    <div>

    </div>

</div>



{% endblock %}